In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

In [3]:
import TwitterRank

In [31]:
import importlib

importlib.reload(TwitterRank)

In [5]:
tweets_df = pd.read_csv('AI Twitter.csv',delimiter=',',skiprows=6,error_bad_lines=False)

In [6]:
tweets_df.head()

,Query Id,Query Name,Date,Title,Snippet,Url,Domain,Sentiment,Page Type,Language,...,Twitter Reply Count,Twitter Reply to,Twitter Retweet of,Twitter Retweets,Twitter Tweets,Twitter Verified,Updated,Word Count,mozRank Score,Reach (new)
0,1999642147,AI Twitter,2018-12-20 23:59:13.0,SiRON Technologies Group Inc. (@ManagedbySiRON...,"#RT MSCloud ""Learn how #AI offers new ways to ...",http://twitter.com/ManagedbySiRON/statuses/107...,twitter.com,neutral,twitter,en,...,0,NaN,NaN,0,2681,False,2018-12-21T16:33:02.450+0000,NaN,9.6,0.0
1,1999642147,AI Twitter,2018-12-20 23:58:57.0,"Roy Munin (@muninJLM): + local talent in AI, c...","+ local talent in AI, computer vision, visual ...",http://twitter.com/muninJLM/statuses/107590341...,twitter.com,positive,twitter,en,...,0,http://twitter.com/muninJLM/statuses/107588714...,NaN,0,4685,False,2018-12-21T16:31:31.330+0000,NaN,9.6,1046.0
2,1999642147,AI Twitter,2018-12-20 23:58:24.0,Mcse.Carlos Barcia G (@carlosbarciag): RT @MSC...,RT @MSCloud: Learn how #AI offers new ways to ...,http://twitter.com/carlosbarciag/statuses/1075...,twitter.com,neutral,twitter,en,...,0,NaN,http://twitter.com/MSCloud/statuses/1075902673...,0,6417,False,2018-12-21T16:33:02.450+0000,NaN,9.6,0.0
3,1999642147,AI Twitter,2018-12-20 23:58:23.0,Int Technology (@IntTechAU): MSCloud: Learn ho...,MSCloud: Learn how #AI offers new ways to boos...,http://twitter.com/IntTechAU/statuses/10759032...,twitter.com,neutral,twitter,en,...,0,NaN,NaN,0,7106,False,2018-12-21T16:33:02.450+0000,NaN,9.6,0.0
4,1999642147,AI Twitter,2018-12-20 23:58:03.0,Dr N Patel 🇮🇳 🚩 (@hindustanse): RT @hindustans...,RT @hindustanse: @jeetensingh @RaiSahab20 @Sau...,http://twitter.com/hindustanse/statuses/107590...,twitter.com,neutral,twitter,en,...,0,NaN,http://twitter.com/hindustanse/statuses/107590...,0,470835,False,2018-12-21T18:39:56.343+0000,NaN,9.6,14736.0

In [7]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430895 entries, 0 to 430894
Columns: 111 entries, Query Id to Reach (new)
dtypes: bool(3), float64(21), int64(33), object(54)
memory usage: 356.3+ MB

In [8]:
tweets_df.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Snippet', 'Url', 'Domain',
       'Sentiment', 'Page Type', 'Language',
       ...
       'Twitter Reply Count', 'Twitter Reply to', 'Twitter Retweet of',
       'Twitter Retweets', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Word Count', 'mozRank Score', 'Reach (new)'],
      dtype='object', length=111)

In [9]:
doc_list = TwitterRank.get_doc_list(samples=30)

c:\users\pradhyum\appdata\local\programs\python\python35\lib\re.py:203: FutureWarning: split() requires a non-empty pattern match.
  return _compile(pattern, flags).split(string, maxsplit)

In [11]:
tweets_df['Author'].value_counts(ascending=False)

chidambara09       2817
machinelearn_d     2273
VillamizarITPro    1594
theChrisChua       1565
JupiterOneBDA      1330
ArkangelScrap      1204
Rosenchild         1160
annanaveed         1078
DeepLearn007       1050
GFACCORD           1007
HubBucket           995
Calcaware           987
vidales_silva       955
iamjony94           936
machine_ml          936
machinelearnflx     918
DME_Jun             900
VVagias             820
sectest9            810
SantchiWeb          751
getleansocial       731
GFradelos           672
EdgeIotAi           635
geekFreak75         622
SelfdrivingC        622
Mutant62730511      610
msarozz             602
9cnewsuae           593
DPassionne          590
deepindex           580
                   ...
s9ZiYeE8yrzhr3i       1
FedAmorosi            1
rohan_say             1
Xhashank27            1
Geck__                1
SERPbuddy             1
R2_moreno             1
TBCANETWORK           1
JagaIND               1
mattjeanes23          1
polom_karol           1
_quchenko             1
HickeyWriter          1
robbiefreak           1
braza209              1
nomidaydajie          1
inklesstales          1
KarinDequeecker       1
SQL_Alex              1
Aulstrue              1
MacTrast              1
johnweiss             1
luvthemstillers       1
NETConfUY             1
jedgarnaut            1
LouisaSlavkova        1
lompabo               1
ShilpiChakrava1       1
HelMontrose           1
BlindBirder           1
Name: Author, Length: 152810, dtype: int64

In [12]:
import re
tweets_df['Full Text'].iloc[1]

'+ local talent in AI, computer vision, visual arts, architecture... #1 producer of CS students in the country and the most attractive brand is Intel/Mobileye so top students will definitely all check out Airbnb first before considering relocation for other corporates in TLV metro'

In [13]:
tweets_df['Full Text'].apply(lambda x:re.sub('[A-Za-z0-9]+\.[A-Za-z0-9]+/[A-Za-z0-9.@]+','',x))

0         #RT MSCloud "Learn how #AI offers new ways to ...
1         + local talent in AI, computer vision, visual ...
2         RT @MSCloud: Learn how #AI offers new ways to ...
3         MSCloud: Learn how #AI offers new ways to boos...
4         RT @hindustanse: @jeetensingh @RaiSahab20 @Sau...
5         RT @salilsethi: Dear 1 billion objects -\n\nI ...
6         @jeetensingh @RaiSahab20 @SaundiD @kvQuote @Ra...
7         RT @MHiesboeck: This @Google #AI created its o...
8         RT @Office365: The #FutureOfWork is here. Read...
9         Learn how #AI offers new ways to boost employe...
10        RT @DingoPublishing: RT LeadHealthy: Feeling S...
11        RT @GoogleARVR: AI is rapidly progressing, har...
12        RT LeadHealthy: Feeling Stressed  at Work? 👩‍💼...
13        RT @Adobe: Detect, tap and replicate. Watch as...
14        RT @bzamayo: Machine learning and AI encompass...
15        RT @LeadHealthy: Feeling Stressed  at Work? 👩‍...
16        RT @into_AI: A Year of AI Transformation - ......
17        @Langsian1  Hi Langsian, You might be interest...
18        Will AI takeover the world? Will Blockchain ch...
19        @WhaleUpdate @hash278 @sXnyreh0Mpj4uuX @mislyv...
20        Georgios Fradelos #company message Global 500 ...
21        1. General Information for Deep Learning Funda...
22        LMK what you think of my new app - Apple: -uss...
23        RT @LeadHealthy: Feeling Stressed  at Work? 👩‍...
24        RT @blue_prism: #BluePrism2018: In March we un...
25        RT @MikeQuindazzi: 4 advancing areas of #DeepL...
26        RT @Ronald_vanLoon: How can organizations move...
27        Microsoft publishes six principles to guide it...
28        RT @NVIDIAEmbedded: Want a more technical dive...
29        How Artificial Intelligence Will Change Corpor...
                                ...
430865    RT @RobinMazumder: @plragde @Twitter @jack as ...
430866    @plragde @Twitter @jack as a computer science ...
430867    RT @arnabch01: #AI #robotics #BigData #genomic...
430868    RT @arnabch01: @semicvet50 @VladimerAntonov @M...
430869    RT @bschorr: Microsoft and UPMC unveil virtual...
430870    Three ways brands can benefit from adopting vo...
430871    Some of the last interviews Instagram founder ...
430872    Microsoft and UPMC unveil virtual AI assistant...
430873    IBM is on a mission to defend its ‘street cred...
430874    Until data is misused, Facebook’s breach will ...
430875    There are two important purchases you should m...
430876    RT @wiwer77: Eight ways AI will change your bu...
430877    RT @moipacheco: Today at work I built a #quadr...
430878    To me selfie is the most offensive stuff you h...
430879    RT @arnabch01: #AI #ML #Iot #robotics to usher...
430880    RT @arnabch01: #AI #ML #BigData #HPC #robotics...
430881    RT @arnabch01: The #World salutes #RobertKoch ...
430882    RT @wiwer77: Going Beyond #Google: Are Search ...
430883    RT @arnabch01: #AI #BigData #HPC t revolutioni...
430884    RT @wiwer77: Until data is misused, #Facebook’...
430885    RT @NBTech: Intel® FPGAs Powering Real-Time AI...
430886    Microsoft has done a lot to encourage use of m...
430887    RT @OracleServCloud: According to a new @Ovum ...
430888    Microsoft has done a lot to encourage use of m...
430889    RT @darrinpjohnson: Achieve up to 40x faster A...
430890    RT @wiwer77: Developer Economics Survey: Data ...
430891    RT @wiwer77: Sizing The Market Value Of Artifi...
430892    Microsoft has done a lot to encourage use of m...
430893    Strategic CHRO: Diane Gherson of IBM on How AI...
430894    @Scale 2018 Keynote: Inside NVIDIA’s AI infras...
Name: Full Text, Length: 430895, dtype: object

In [55]:
def remove_links(tweet):
    tweet = re.sub('http\S+','',tweet)
    tweet = re.sub('(?!http://)bit.ly/\S+','',tweet)
    tweet = re.sub('[A-Za-z0-9.@]+\.[A-Za-z0-9]+/[A-Za-z0-9.@]+','',tweet)
    tweet = tweet.strip('[link]')
    return tweet
def extract_links(tweet):
    link1 = re.findall('http\S+',tweet)
    return list(set(link1.extend(re.findall('(?!http://)bit.ly\S+',tweet))))
def remove_users(tweet):
    tweet = re.sub('@[A-Za-z]+[A-Za-z0-9-_]','',tweet)
    return tweet
def remove_hashtags(tweet):
    tweet = re.sub('(#[A-Za-z]+[A-Za-z0-9-_]+)','', tweet)
    return tweet

In [56]:
import nltk 
my_stopwords = nltk.corpus.stopwords.words('english')
my_stopwords.append('rt')
word_rooter = nltk.stem.snowball.PorterStemmer(ignore_stopwords=False).stem
my_punctuation = '!"$%&\'()*+,-./:;<=>?[\\]^_`{|}~•@'

# cleaning master function
def clean_tweet(tweet, bigrams=False):
    tweet = remove_users(tweet)
    tweet = remove_links(tweet)
    tweet = remove_hashtags(tweet)
    tweet = tweet.lower() # lower case
    tweet = re.sub('['+my_punctuation + ']+', ' ', tweet) # strip punctuation
    tweet = re.sub('\s+', ' ', tweet) #remove double spacing
    tweet = re.sub('([0-9]+)', '', tweet) # remove numbers
    tweet_token_list = [word for word in tweet.split(' ')
                            if word not in my_stopwords] # remove stopwords

    tweet_token_list = [word_rooter(word) if '#' not in word else word
                        for word in tweet_token_list] # apply word rooter
    if bigrams:
        tweet_token_list = tweet_token_list+[tweet_token_list[i]+'_'+tweet_token_list[i+1]
                                            for i in range(len(tweet_token_list)-1)]
    tweet = ' '.join(tweet_token_list)
    return tweet

In [57]:
tweets_df['Clean Tweet'] = tweets_df['Full Text'].apply(clean_tweet)
#len(my_stopwords)

In [58]:
tweets_df.groupby('Author')['Clean Tweet'].apply(lambda x:' '.join(x)).values

array([' year ago releas first pc sinc growth technolog expand tremend way take walk histori learn comput age unfold futur ',
       'want technic dive jetson agx xavier check new dev blog also includ deep learn inferenc benchmark result ',
       'cullen comput gener face use gener adversari network progress grow techniqu nvidia train   imag photobooth zkm center art media ',
       ...,
       '  minimum wage destroy small busi peopl it’ help anybodi could would use robot instead peopl ',
       'facebook microsoft today introduc open neural network exchang format standard repres facebook microsoft today introduc open neural network exchang onnx format standard repres',
       'jaw drop real world applic data scienc keynot deliv senior data scientist appl leader summit watch free '],
      dtype=object)

In [59]:
model_, vocab = TwitterRank.get_lda_model( samples=200, topics=10,n_iter=50, df_in=tweets_df)

In [60]:
model_.components_

array([[ 0.10003013,  0.10003485,  0.1       , ...,  0.1       ,
         0.1       ,  0.1       ],
       [ 0.10000907,  0.10002856,  1.09979596, ...,  1.09974885,
         1.09974885,  0.1       ],
       [11.10974152,  0.10002032,  0.1000226 , ...,  0.10013587,
         0.10013587,  0.10003321],
       ...,
       [ 7.96800477,  6.6764805 ,  0.10012239, ...,  0.1       ,
         0.1       ,  1.09996424],
       [ 0.10002759,  1.52340398,  0.1       , ...,  0.1       ,
         0.1       ,  0.10000255],
       [12.22203654,  0.10001349,  0.1       , ...,  0.1       ,
         0.1       ,  0.1       ]])

In [62]:
len(vocab)

46926

In [63]:
len(set(vocab))

46926

In [64]:
def model_topics(algorithm, vocab, model_in=None):
    if model_in is None:
        if algorithm == 'LDA':
            model = LatentDirichletAllocation(n_components=10)
        elif algorithm == 'NMF':
            model = NMF(n_components=10)
        model.fit(tf)
        model.get_params()
    else: model = model_in
    topic_word_df = pd.DataFrame(model.components_,columns=vocab)
    sorted_topic_words = pd.DataFrame()
    for index, row in topic_word_df.iterrows():
        row_df = pd.DataFrame({'topic_'+str(index): row.sort_values(ascending=False).index[:5].values})
        sorted_topic_words = pd.concat([sorted_topic_words,row_df],axis=1)
    return topic_word_df, sorted_topic_words

In [65]:
topics_word, sorted_topic_words = model_topics('LDA',vocab=vocab,model_in=model_)

In [66]:
sorted_topic_words

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9
0,learn,regul,ai,facebook,gener,ai,recognit,googl,learn,ai
1,machin,vote,learn,googl,network,googl,facial,intellig,ai,join
2,googl,want,machin,twitter,imag,artifici,amazon,artifici,ibm,us
3,ai,intel,googl,news,use,intellig,use,use,machin,discuss
4,research,cc,microsoft,thank,train,via,face,ai,data,futur

In [51]:
string_with_pic = tweets_df['Full Text'].iloc[0]

In [54]:
re.findall('[A-Za-z0-9.@]+\.[A-Za-z0-9]+/[A-Za-z0-9.@]+',string_with_pic)

['msft.social/W3d912', 'pic.twitter.com/xSLrLWvLP5']