In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

In [4]:
import TwitterRank

In [66]:
import importlib

importlib.reload(TwitterRank)

In [6]:
tweets_df = pd.read_csv('AI Twitter.csv',delimiter=',',skiprows=6,error_bad_lines=False)

In [7]:
tweets_df.head()

,Query Id,Query Name,Date,Title,Snippet,Url,Domain,Sentiment,Page Type,Language,...,Twitter Reply Count,Twitter Reply to,Twitter Retweet of,Twitter Retweets,Twitter Tweets,Twitter Verified,Updated,Word Count,mozRank Score,Reach (new)
0,1999642147,AI Twitter,2018-12-20 23:59:13.0,SiRON Technologies Group Inc. (@ManagedbySiRON...,"#RT MSCloud ""Learn how #AI offers new ways to ...",http://twitter.com/ManagedbySiRON/statuses/107...,twitter.com,neutral,twitter,en,...,0,NaN,NaN,0,2681,False,2018-12-21T16:33:02.450+0000,NaN,9.6,0.0
1,1999642147,AI Twitter,2018-12-20 23:58:57.0,"Roy Munin (@muninJLM): + local talent in AI, c...","+ local talent in AI, computer vision, visual ...",http://twitter.com/muninJLM/statuses/107590341...,twitter.com,positive,twitter,en,...,0,http://twitter.com/muninJLM/statuses/107588714...,NaN,0,4685,False,2018-12-21T16:31:31.330+0000,NaN,9.6,1046.0
2,1999642147,AI Twitter,2018-12-20 23:58:24.0,Mcse.Carlos Barcia G (@carlosbarciag): RT @MSC...,RT @MSCloud: Learn how #AI offers new ways to ...,http://twitter.com/carlosbarciag/statuses/1075...,twitter.com,neutral,twitter,en,...,0,NaN,http://twitter.com/MSCloud/statuses/1075902673...,0,6417,False,2018-12-21T16:33:02.450+0000,NaN,9.6,0.0
3,1999642147,AI Twitter,2018-12-20 23:58:23.0,Int Technology (@IntTechAU): MSCloud: Learn ho...,MSCloud: Learn how #AI offers new ways to boos...,http://twitter.com/IntTechAU/statuses/10759032...,twitter.com,neutral,twitter,en,...,0,NaN,NaN,0,7106,False,2018-12-21T16:33:02.450+0000,NaN,9.6,0.0
4,1999642147,AI Twitter,2018-12-20 23:58:03.0,Dr N Patel üáÆüá≥ üö© (@hindustanse): RT @hindustans...,RT @hindustanse: @jeetensingh @RaiSahab20 @Sau...,http://twitter.com/hindustanse/statuses/107590...,twitter.com,neutral,twitter,en,...,0,NaN,http://twitter.com/hindustanse/statuses/107590...,0,470835,False,2018-12-21T18:39:56.343+0000,NaN,9.6,14736.0

In [8]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430895 entries, 0 to 430894
Columns: 111 entries, Query Id to Reach (new)
dtypes: bool(3), float64(21), int64(33), object(54)
memory usage: 356.3+ MB

In [9]:
tweets_df.columns

Index(['Query Id', 'Query Name', 'Date', 'Title', 'Snippet', 'Url', 'Domain',
       'Sentiment', 'Page Type', 'Language',
       ...
       'Twitter Reply Count', 'Twitter Reply to', 'Twitter Retweet of',
       'Twitter Retweets', 'Twitter Tweets', 'Twitter Verified', 'Updated',
       'Word Count', 'mozRank Score', 'Reach (new)'],
      dtype='object', length=111)

In [9]:
#doc_list = TwitterRank.get_doc_list()

c:\users\pradhyum\appdata\local\programs\python\python35\lib\re.py:203: FutureWarning: split() requires a non-empty pattern match.
  return _compile(pattern, flags).split(string, maxsplit)

In [10]:
import re
tweets_df['Full Text'].iloc[1]

'+ local talent in AI, computer vision, visual arts, architecture... #1 producer of CS students in the country and the most attractive brand is Intel/Mobileye so top students will definitely all check out Airbnb first before considering relocation for other corporates in TLV metro'

In [11]:
#tweets_df['Full Text'].apply(lambda x:re.sub('[A-Za-z0-9]+\.[A-Za-z0-9]+/[A-Za-z0-9.@]+','',x))

0         #RT MSCloud "Learn how #AI offers new ways to ...
1         + local talent in AI, computer vision, visual ...
2         RT @MSCloud: Learn how #AI offers new ways to ...
3         MSCloud: Learn how #AI offers new ways to boos...
4         RT @hindustanse: @jeetensingh @RaiSahab20 @Sau...
5         RT @salilsethi: Dear 1 billion objects -\n\nI ...
6         @jeetensingh @RaiSahab20 @SaundiD @kvQuote @Ra...
7         RT @MHiesboeck: This @Google #AI created its o...
8         RT @Office365: The #FutureOfWork is here. Read...
9         Learn how #AI offers new ways to boost employe...
10        RT @DingoPublishing: RT LeadHealthy: Feeling S...
11        RT @GoogleARVR: AI is rapidly progressing, har...
12        RT LeadHealthy: Feeling Stressed  at Work? üë©‚Äçüíº...
13        RT @Adobe: Detect, tap and replicate. Watch as...
14        RT @bzamayo: Machine learning and AI encompass...
15        RT @LeadHealthy: Feeling Stressed  at Work? üë©‚Äç...
16        RT @into_AI: A Year of AI Transformation - ......
17        @Langsian1  Hi Langsian, You might be interest...
18        Will AI takeover the world? Will Blockchain ch...
19        @WhaleUpdate @hash278 @sXnyreh0Mpj4uuX @mislyv...
20        Georgios Fradelos #company message Global 500 ...
21        1. General Information for Deep Learning Funda...
22        LMK what you think of my new app - Apple: -uss...
23        RT @LeadHealthy: Feeling Stressed  at Work? üë©‚Äç...
24        RT @blue_prism: #BluePrism2018: In March we un...
25        RT @MikeQuindazzi: 4 advancing areas of #DeepL...
26        RT @Ronald_vanLoon: How can organizations move...
27        Microsoft publishes six principles to guide it...
28        RT @NVIDIAEmbedded: Want a more technical dive...
29        How Artificial Intelligence Will Change Corpor...
                                ...
430865    RT @RobinMazumder: @plragde @Twitter @jack as ...
430866    @plragde @Twitter @jack as a computer science ...
430867    RT @arnabch01: #AI #robotics #BigData #genomic...
430868    RT @arnabch01: @semicvet50 @VladimerAntonov @M...
430869    RT @bschorr: Microsoft and UPMC unveil virtual...
430870    Three ways brands can benefit from adopting vo...
430871    Some of the last interviews Instagram founder ...
430872    Microsoft and UPMC unveil virtual AI assistant...
430873    IBM is on a mission to defend its ‚Äòstreet cred...
430874    Until data is misused, Facebook‚Äôs breach will ...
430875    There are two important purchases you should m...
430876    RT @wiwer77: Eight ways AI will change your bu...
430877    RT @moipacheco: Today at work I built a #quadr...
430878    To me selfie is the most offensive stuff you h...
430879    RT @arnabch01: #AI #ML #Iot #robotics to usher...
430880    RT @arnabch01: #AI #ML #BigData #HPC #robotics...
430881    RT @arnabch01: The #World salutes #RobertKoch ...
430882    RT @wiwer77: Going Beyond #Google: Are Search ...
430883    RT @arnabch01: #AI #BigData #HPC t revolutioni...
430884    RT @wiwer77: Until data is misused, #Facebook‚Äô...
430885    RT @NBTech: Intel¬Æ FPGAs Powering Real-Time AI...
430886    Microsoft has done a lot to encourage use of m...
430887    RT @OracleServCloud: According to a new @Ovum ...
430888    Microsoft has done a lot to encourage use of m...
430889    RT @darrinpjohnson: Achieve up to 40x faster A...
430890    RT @wiwer77: Developer Economics Survey: Data ...
430891    RT @wiwer77: Sizing The Market Value Of Artifi...
430892    Microsoft has done a lot to encourage use of m...
430893    Strategic CHRO: Diane Gherson of IBM on How AI...
430894    @Scale 2018 Keynote: Inside NVIDIA‚Äôs AI infras...
Name: Full Text, Length: 430895, dtype: object

In [12]:
def remove_links(tweet):
    tweet = re.sub('http\S+','',tweet)
    tweet = re.sub('(?!http://)bit.ly/\S+','',tweet)
    tweet = re.sub('[A-Za-z0-9.@]+\.[A-Za-z0-9]+/[A-Za-z0-9.@]+','',tweet)
    tweet = tweet.strip('[link]')
    return tweet
def extract_links(tweet):
    link1 = re.findall('http\S+',tweet)
    return list(set(link1.extend(re.findall('(?!http://)bit.ly\S+',tweet))))
def remove_users(tweet):
    tweet = re.sub('@[A-Za-z]+[A-Za-z0-9-_]','',tweet)
    return tweet
def remove_hashtags(tweet):
    tweet = re.sub('(#[A-Za-z]+[A-Za-z0-9-_]+)','', tweet)
    return tweet

In [13]:
import nltk 
import spacy
nlp = spacy.load('en_core_web_sm')
my_stopwords = nltk.corpus.stopwords.words('english')
my_stopwords.append('rt')
word_rooter = nltk.stem.snowball.PorterStemmer(ignore_stopwords=False).stem
my_punctuation = '!"$%&\'()*+,-./:;<=>?[\\]^_`{|}~‚Ä¢@'

# cleaning master function
def clean_tweet(tweet, bigrams=False):
    tweet = remove_users(tweet)
    tweet = remove_links(tweet)
    tweet = remove_hashtags(tweet)
    tweet = tweet.lower() # lower case
    tweet = re.sub('['+my_punctuation + ']+', ' ', tweet) # strip punctuation
    tweet = re.sub('\s+', ' ', tweet) #remove double spacing
    tweet = re.sub('([0-9]+)', '', tweet) # remove numbers
    tweet_token_list = [word for word in nlp(tweet)
                            if not nlp.vocab[word.text].is_stop] # remove stopwords

    tweet_token_list = [word.lemma_ if '#' not in word.text else word
                        for word in tweet_token_list] # apply lemmatization
    if bigrams:
        tweet_token_list = tweet_token_list+[tweet_token_list[i]+'_'+tweet_token_list[i+1]
                                            for i in range(len(tweet_token_list)-1)]
    tweet = ' '.join(tweet_token_list)
    return tweet

In [14]:
tweets_df['Clean Tweet'] = tweets_df['Full Text'].apply(clean_tweet)

In [15]:
#tweets_df.groupby('Author')['Clean Tweet'].apply(lambda x:' '.join(x)).values

In [16]:
#model_, vocab, tf = TwitterRank.get_lda_model( samples=200, topics=10,n_iter=50, df_in=tweets_df)

In [17]:
#model_.components_

In [18]:
def model_topics(algorithm, vocab, model_in=None):
    if model_in is None:
        if algorithm == 'LDA':
            model = LatentDirichletAllocation(n_components=10)
        elif algorithm == 'NMF':
            model = NMF(n_components=10)
        model.fit(tf)
        model.get_params()
    else: model = model_in
    topic_word_df = pd.DataFrame(model.components_,columns=vocab)
    sorted_topic_words = pd.DataFrame()
    for index, row in topic_word_df.iterrows():
        row_df = pd.DataFrame({'topic_'+str(index): row.sort_values(ascending=False).index[:5].values})
        sorted_topic_words = pd.concat([sorted_topic_words,row_df],axis=1)
    return topic_word_df, sorted_topic_words

In [23]:
#topics_word, sorted_topic_words = model_topics('LDA',vocab=vocab,model_in=model_)

In [27]:
#string_example

'RT @salilsethi: Dear 1 billion objects -\n\nI see (and recognize) you.\n\nLove,\nGoogle Lens\n(circa 2018) \n\n#ai #google #machinelearning #googlelens #billionobjects #artificialintelligence #opticalcharacterrecognition #ocr #computervision\n\nturingtribe.com/story/google-l‚Ä¶'

In [28]:
#string = tweets_df['Twitter Retweet of'].iloc[5]
#string

'http://twitter.com/salilsethi/statuses/1075774605158113286'

In [29]:
#tweets_df['Twitter Retweet of']

0                                                       NaN
1                                                       NaN
2         http://twitter.com/MSCloud/statuses/1075902673...
3                                                       NaN
4         http://twitter.com/hindustanse/statuses/107590...
5         http://twitter.com/salilsethi/statuses/1075774...
6                                                       NaN
7         http://twitter.com/MHiesboeck/statuses/1075885...
8         http://twitter.com/Office365/statuses/10747306...
9                                                       NaN
10        http://twitter.com/DingoPublishing/statuses/10...
11        http://twitter.com/GoogleARVR/statuses/1075549...
12                                                      NaN
13        http://twitter.com/Adobe/statuses/107555638887...
14        http://twitter.com/bzamayo/statuses/1075900534...
15        http://twitter.com/LeadHealthy/statuses/106816...
16        http://twitter.com/into_AI/statuses/1075900883...
17                                                      NaN
18                                                      NaN
19                                                      NaN
20                                                      NaN
21                                                      NaN
22                                                      NaN
23        http://twitter.com/LeadHealthy/statuses/106816...
24        http://twitter.com/blue_prism/statuses/1075821...
25        http://twitter.com/MikeQuindazzi/statuses/1075...
26        http://twitter.com/Ronald_vanLoon/statuses/107...
27                                                      NaN
28        http://twitter.com/NVIDIAEmbedded/statuses/107...
29                                                      NaN
                                ...
430865    http://twitter.com/RobinMazumder/statuses/1046...
430866                                                  NaN
430867    http://twitter.com/arnabch01/statuses/89657409...
430868    http://twitter.com/arnabch01/statuses/10177332...
430869    http://twitter.com/bschorr/statuses/1046552780...
430870                                                  NaN
430871                                                  NaN
430872                                                  NaN
430873                                                  NaN
430874                                                  NaN
430875                                                  NaN
430876    http://twitter.com/wiwer77/statuses/1046539423...
430877    http://twitter.com/moipacheco/statuses/1042152...
430878                                                  NaN
430879    http://twitter.com/arnabch01/statuses/88261549...
430880    http://twitter.com/arnabch01/statuses/89964606...
430881    http://twitter.com/arnabch01/statuses/93969788...
430882    http://twitter.com/wiwer77/statuses/1046537092...
430883    http://twitter.com/arnabch01/statuses/77855392...
430884    http://twitter.com/wiwer77/statuses/1046534446...
430885    http://twitter.com/NBTech/statuses/10465501258...
430886                                                  NaN
430887    http://twitter.com/OracleServCloud/statuses/10...
430888                                                  NaN
430889    http://twitter.com/darrinpjohnson/statuses/104...
430890    http://twitter.com/wiwer77/statuses/1046535343...
430891    http://twitter.com/wiwer77/statuses/1046353906...
430892                                                  NaN
430893                                                  NaN
430894                                                  NaN
Name: Twitter Retweet of, Length: 430895, dtype: object

In [19]:
def find_retweet_of(tweet):
    tweet = re.findall('(?<=http://twitter.com/)\w+',tweet)[0]
    return tweet
tweets_df['Retweet of'] = tweets_df['Twitter Retweet of'].apply(lambda x:find_retweet_of(x) if not pd.isna(x) else x)

In [20]:
#tweets_df['Retweet of']

In [21]:
import networkx as nx

In [22]:
#tweets_df['Retweet of']

In [23]:
#G = nx.from_pandas_edgelist(tweets_df[tweets_df['Retweet of'].notna()],'Retweet of','Author')

In [24]:
#G.remove_nodes_from([i for i in list(G.nodes()) if i not in tweets_df['Author'].values])

In [26]:
#from scipy.sparse import csr_matrix, lil_matrix
#adj = nx.to_scipy_sparse_matrix(G)
#adj.get_shape()

In [25]:
#tweets_df.groupby('Author').get_group('Kozinets')['Clean Tweet'].count()

In [27]:
#tweets_df.groupby('Author').get_group('Kozinets')['Clean Tweet'].count()
import time, sys
from IPython.display import clear_output

def update_progress(progress):
    bar_length = 80
    if isinstance(progress, int):
        progress = float(progress)
    if not isinstance(progress, float):
        progress = 0
    if progress < 0:
        progress = 0
    if progress >= 1:
        progress = 1

    block = int(round(bar_length * progress))

    clear_output(wait = True)
    text = "Progress: [{0}] {1:.1f}%".format( "#" * block + "-" * (bar_length - block), progress * 100)
    print(text)

In [28]:
#nx_graph = TwitterRank.get_graph_object(tweets_df,filter_column='Retweet of')

In [29]:
#new_df = pd.DataFrame(tweets_df[tweets_df['Retweet of'].isin(tweets_df['Author'].value_counts().index)].values, columns=tweets_df.columns)

In [30]:
#len(nx_graph)

In [31]:
#nodes_to_remove = tweets_df['Retweet of'][~tweets_df['Retweet of'].isin(tweets_df['Author'].value_counts().index)].unique()

In [32]:
#nx_graph.remove_nodes_from(list(nodes_to_remove))

In [33]:
#ser = pd.Series(tweets_df['Author'].unique()).isin(pd.Series(nx_graph.nodes()))
#ser[ser==False].index

In [34]:
#tweets_df.drop([53440],axis=0,inplace=True)

In [35]:
#tweets_list = TwitterRank.get_num_tweets_list(nx_graph,tweets_df)

In [36]:
#relationship = TwitterRank.get_relationship(nx_graph)

In [37]:
#friend_tweet_list = TwitterRank.get_friends_tweets_list(relationship, tweets_list)

In [69]:
model, vocab_list, term_frequency = TwitterRank.get_lda_model(5, 30, tweets_df)
#dt = np.mat(model._unnormalized_transform(term_frequency))
#row_normalized_dt = dt/np.sum(dt,axis=0)

Collecting grouped tweets by user
Creating term-author matrix
Fitting LDA model to discover topics

In [39]:
#pt = TwitterRank.get_Pt(1,tweets_list,friend_tweet_list,row_normalized_dt,relationship)

In [40]:
#Et = dt/np.sum(dt,axis=1)

In [41]:
#Et[:,0].shape

In [42]:
#pd.DataFrame(TRt,index=nx_graph.nodes(),columns=['topic1 influence score']).sort_values(by='topic1 influence score',ascending=False).head(10)

In [43]:
#TwitterRank.get_TR_using_DT(dt, tweets_df, num_topics=5, gamma=0.2, tolerance=1e-16)

In [44]:
#col_normalized_dt = dt/np.sum(dt,axis=1)

In [45]:
#TR_all = TwitterRank.get_TR(5 ,tweets_list, friend_tweet_list, row_normalized_dt, col_normalized_dt, relationship,
 #          gamma=0.2, tolerance=1e-16)

In [46]:
#TwitterRank.print_topics_as_df(model,vocab_list)

In [64]:
TR, graph = TwitterRank.twitter_rank(tweets_df)

Collecting grouped tweets by user
Creating term-author matrix
Fitting LDA model to discover topics
Creating graph object
Removing nodes where author doesn't exist in raw df
Creating relationship matrix
Gathering tweet count for all users
Gathering tweet counts for friends of each user
Ranking users by
topic number 0
Creating transition probability for topic 0
Calculating influence scores for users under topic 0
topic number 1
Creating transition probability for topic 1
Calculating influence scores for users under topic 1
topic number 2
Creating transition probability for topic 2
Calculating influence scores for users under topic 2
topic number 3
Creating transition probability for topic 3
Calculating influence scores for users under topic 3
topic number 4
Creating transition probability for topic 4
Calculating influence scores for users under topic 4

In [67]:
final_ranks = TwitterRank.get_top_topic_influencers(TR,graph)
final_ranks

,Topic0Influncers,Topic1Influncers,Topic2Influncers,Topic3Influncers,Topic4Influncers
0,_Nhyira_,Edyard38308817,ellamas36678202,MarkSpencer,astrinity
1,zenithcoder,AndrewMDM,MissTyra_B,caligirl1909,MissTyra_B
2,AlexanderDubas,MissTyra_B,oracleemeaps,dwschoenleber,AndrewMDM
3,GreenfinchTech,ftavcar,reighleyc,oryxchain2,MaBee_N
4,Ammar_Haider,GreenfinchTech,lihairun,CommonFolksMan,V1ewF1nder
5,AndrewMDM,drctan,GonzaloOrtizLaz,ZohwaKarim,reighleyc
6,DrjoesmithJoe,fruity_priya,nishanil,CaitlinEHaynes,raschneiderman
7,DontMes77180322,CaitlinEHaynes,AndrewMDM,erica_pandey,WeWinningFr
8,V1ewF1nder,SolignoMatilde,paolo_78,innomag_no,TheAkiru
9,fruity_priya,ALexandrrr84,keshengyu,Sinclair1182,ellamas36678202

In [71]:
TwitterRank.print_topics_as_df(model,vocab_list)

    topic_0   topic_1  topic_2 topic_3 topic_4
0     googl        ai    gener   learn   regul
1  recognit       ibm   comput  machin    vote
2  facebook  intellig   nvidia      ai    want
3    facial  artifici      use   googl   intel
4       use       via  network     use      ye

In [61]:
a/a.sum(axis=1).reshape(-1,1)

array([[0.2       , 0.4       , 0.06666667, 0.33333333],
       [0.31578947, 0.36842105, 0.15789474, 0.15789474],
       [0.3       , 0.4       , 0.25      , 0.05      ],
       [0.        , 0.125     , 0.125     , 0.75      ]])

In [ ]:
a/a.sum(axis=0)